<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Dettagli piatto</title>
<link th:href="@{/css/object.css}" rel="stylesheet"
	href="/static/css/object.css" />
<link th:href="@{/css/menu.css}" rel="stylesheet"
	href="/static/css/menu.css" />
</head>
<body>
	<div id="container">
		<div id="menu">
			<ul>
				<li><a href="#">Area riservata</a>
					<ul>
						<li><a href="#" sec:authorize="!isFullyAuthenticated()" th:href="@{/login}"> Login </a><br>
						<a href="#" th:href="@{/register}">Registrati</a><br>
						<a th:href="@{/admin/chefForm}">Inserisci Chef</a><br>
						<a th:href="@{/admin/piattoForm}">Inserisci piatto</a><br>
						<a th:href="@{/admin/buffetForm}">Inserisci nuovo buffet</a><br>
						<a th:href="@{/admin/ingredienteForm}">Inserisci Ingrediente</a>
						<a href="#" sec:authorize="isFullyAuthenticated()" th:href="@{/logout}">Logout</a></li>
					</ul></li>
				<li><a href="#" th:href="@{/register}">Registrati</a></li>
				<li><a href="#" th:href="@{/public/listaBuffet}">I nostri
						buffet</a></li>
				<li><a href="#" th:href="@{/public/piatti}">Piatti offerti</a>
				</li>
				<li><a href="#" th:href="@{/public/listaChef}">Il nostro
						team</a></li>
				<li><a href="/">Home</a></li>
			</ul>
		</div>
		<nav class="columnItems">
			<nav class="rowItems" th:href="@{/public/piatti}">
				<img
					th:src="@{/img/pancake.jpg}"
					src="/static/img/pancake.jpg">
			</nav>
			<nav class="rowItems" th:href="@{/public/piatti}">
				<img
					th:src="@{/img/cake.jpg}"
					src="/static/img/cake.jpg">
			</nav>
			<nav class="rowItems" th:href="@{/public/piatti}">
				<img
					th:src="@{/img/macaron.jpg}"
					src="/static/img/macaron.jpg">
			</nav>
			<nav class="rowItems" th:href="@{/public/piatti}">
				<img
					th:src="@{/img/cake bears.jpg}"
					src="/static/img/cake bears.jpg">
			</nav>
		</nav>

		<p class="title">Ecco il piatto selezionato:</p>
		<div th:object=${ingrediente}>
			<div class="columnItems" th:text="${piatto.nome}">Pasta</div>
			<div class="columnItems" th:text="${piatto.descrizione}">al
				sugo</div>
			<div class="columnItems">
				Ingredienti:
				<div class="listColumnItems">
					<ul>
						<li th:each="ingrediente : ${piatto.ingredienti}"><a href="#"
							th:href="@{'/public/ingrediente/'+${ingrediente.id}}"
							th:text="${ingrediente.nome}">nome ingrediente</a></li>
					</ul>
				</div>
			</div>
			<br>
			<br>
			<div class="columnItemsLink">
				<a href="#"
					th:href="@{'/admin/modificaPiattoForm' + '/' + ${piatto.id}}">Modifica
					piatto</a>
			</div>
			<div class="columnItemsLink">
				<a href="#" th:href="@{'/admin/deletePiatto' + '/' + ${piatto.id}}">Elimina
					piatto</a>
			</div>
		</div>
	</div>
</body>
</html>
