<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html"
	xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
<title>Register - Catering Service</title>
<link th:href="@{/css/form.css}" rel="stylesheet"
	href="/static/css/form.css" />
</head>
<header>
	<h1>Register</h1>
</header>

<body>
	<div class="parent">
		<div class="childForm">
			<form method="POST" th:action="@{/register}"
				th:object="${credentials}">
				<div class="error-text" th:if="${#fields.hasGlobalErrors()}">
					<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">this
						will contain errors</p>
				</div>
				<table>
					<tbody>
						<tr>
							<td>Username:</td>
							<td><label> <input th:field="*{username}"
									type="text" />
							</label></td>
							<td><span class="error-text" th:errors="*{username}"
								th:if="${#fields.hasErrors('username')}"> error name </span></td>
						</tr>
						<tr>
							<td>First name:</td>
							<td><label> <input th:field="*{user.firstName}"
									type="text" />
							</label></td>

						</tr>
						<tr>
							<td>Last name:</td>
							<td><label> <input th:field="*{user.lastName}"
									type="text" />
							</label></td>

						</tr>
						<tr>
							<td>Email address:</td>
							<td><label> <input th:field="*{user.email}"
									type="email" />
							</label></td>

						</tr>
						<tr>
							<td>Role (DEFAULT or ADMIN):</td>
							<td><label> <input th:field="*{role}" type="text" />
							</label></td>

						</tr>
						<td>Password:</td>
						<td><label> <input th:field="*{password}"
								type="password" />
						</label></td>
						<td><span class="error-text" th:errors="*{password}"
							th:if="${#fields.hasErrors('password')}"> error origin </span></td>
						</tr>

					</tbody>
				</table>
				<table class="center-div">
					<tbody>
						<tr>
							<td>Picture</td>
							<td><input type="file" /></td>

						</tr>
					</tbody>
				</table>
				<div class="btn-div">
					<span><button type="submit">Confirm</button></span>
				</div>
			</form>
		</div>
	</div>
	<div>
		<a href="/" th:href="@{/logout}">Logout </a>
	</div>
</body>
</html>