<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Elimina Chef</title>
	<link th:href="@{/css/form.css}" rel="stylesheet" href="/static/css/form.css"/>
</head>
<body>
		<form method="POST" th:action="@{'/admin/deleteChef' + '/' + ${chef.id}}" th:object="${chef}">
							<button class="button button1" type="submit">Confirm</button>
		</form>
		<a href="error.html" th:href="@{'/public/listaChef'}" th:text="Cancel">Torna indietro</a>
</body>
</html>
