<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Demo</title>
	<link th:href="@{/css/base.css}" rel="stylesheet" href="/static/css/base.css"/>
</head>

<body>
	<div id="container">
		<div class="menu">
    		<ul><li>
				<a class="menuTendina" href="#">Area riservata</a>
					<ul>
						<li><a href="#" th:href="@{/admin/operazioniAmministratore}">Login amministratore</a><br>
						<a href="#" th:href="@{/register}">Registrati</a><br>
						<a th:href="@{/admin/chefForm}">Inserisci Chef</a><br>
						<a th:href="@{/admin/piattoForm}">Inserisci piatto</a><br>
						<a th:href="@{/admin/buffetForm}">Inserisci nuovo buffet</a><br>
						<a th:href="@{/admin/ingredienteForm}">Inserisci Ingrediente</a></li>
					</ul>
				</li>
				<li>
					<a href="#" th:href="@{/register}">Registrati</a>
				</li>
       		 	<li>
					<a href="#" th:href="@{/public/listaBuffet}">I nostri buffet</a>
				</li>
				<li>
					<a href="#" th:href="@{/public/piatti}">Piatti offerti</a>
				</li>
				<li>
					<a href="#" th:href="@{/public/listaChef}">Il nostro team</a>
				</li>
				<li>
					<!-- <a href="#" th:href="/">Home</a> -->
				</li>
        	</ul>
    	</div>
	</div>
	<img src="/static/img/index image4.jpg" th:src="@{/static/img/index image4.jpg}" class="imageIndex"></div>
	<p class="title">Benvenuto nel nostro servizio catering!</p>
		<nav class="rowItems">
			<nav><a href="#" th:href="@{/public/listaBuffet}"><img src="/static/img/buffet.jpg" class="imageItemsLink" ></a></nav>
			<nav><h3>Visita i nostri buffet</h3>
			<p>Abbiamo diversi buffet per soddisfare ogni esigenza!</p></nav>
		</nav>
		<nav class="rowItems">
			<nav><a href="#" th:href="@{/public/piatti}"><img src="/static/img/piatto.jpg" class="imageItemsLink" ></a></nav>
			<nav><h3>I piatti che offriamo</h3>
			<p>Abbiamo buffet personalizzabili, visita i piatti che prepariamo per scoprire cosa desideri!</p></nav>
		</nav>
		<nav class="rowItems">
			<nav><a href="#" th:href="@{/public/listaChef}"><img src="/static/img/chef.png" class="imageItemsLink" ></a></nav>
			<nav><h3>I nostri chef</h3>
			<p>Abbiamo chef disponibili a venire in contro a ogni richiesta, scopri la nostra squadra!</p></nav>
		</nav>
		<nav class="rowItems">
			<nav><img src="/static/img/chi siamo.jpg" class="imageItems"></nav>
			<nav><h3>Chi siamo</h3>
			<p>La Pepe Catering di Roma dal 1992 realizza favolosi banchetti e ricevimenti in occasione di matrimoni, meeting, eventi e feste private. Grande cura degli allestimenti per i matrimoni e amplia proposta di location per ogni tipo di occasione</p></nav>
		</nav>
		<nav class="rowItems">
			<nav><img src="/static/img/aggiuntivi.jpg" class="imageItems"></nav>
			<nav><h3>Servizi aggiuntivi</h3>
			<p>Effetuiamo servizi catering aggiuntivi come: Addobbi Floreali, Allestimento Tavoli, Angolo dei Confetti, Angolo dei Sigari e dei Distillati, Baby Sitting, Carretto dei gelati, Effetti scenografici, Animazione, Fontana di cioccolato, Fornaio, Grigliata, Noleggio Auto Matrimoni Roma, Servizio Barman, Sommelier, Tableau Mariage, Torte Monumentali, Wedding Cake

				Si tratta di servizi catering che possono essere aggiunti ai Buffet o Menù in banchetti e ricevimenti in occasione di matrimoni, meeting, eventi e feste private.</p></nav>
		</nav>
		<nav class="rowItems">
			<nav><img src="/static/img/preventivo.jpg" class="imageItems"></nav>
			<nav><h3>Richiedi preventivo</h3>
			<p>Per richiedere un preventivo compila la <a href="#" th:href="@{/register}">registrazione</a>!</p></nav>
		</nav>
		<nav class="columnItems">
			<div> hehe</div>
			<div><a  href="#" th:href="@{/admin/chefForm}">Inserisci Chef</a></div>
		</nav>
</body>

</html>