<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Desvrizione oggetto</title>
	<link th:href="@{/css/object.css}" rel="stylesheet" href="/static/css/object.css"/>
	<link th:href="@{/css/menu.css}" rel="stylesheet" href="/static/css/menu.css"/>
</head>
<body>
	<div id="container">
		<div id="menu">
			<ul><li>
				<a href="#">Area riservata</a>
					<ul>
						<li><a href="#" th:href="@{/admin/operazioniAmministratore}">Login amministratore</a><br>
						<a href="#" th:href="@{/register}">Registrati</a><br>
							<a th:href="@{/admin/chefForm}">Inserisci Chef</a><br>
						<a th:href="@{/admin/piattoForm}">Inserisci piatto</a><br>
						<a th:href="@{/admin/buffetForm}">Inserisci nuovo buffet</a><br>
						<a th:href="@{/admin/ingredienteForm}">Inserisci Ingrediente</a></li>
					</ul>
				</li>
				<li>
					<a href="#" th:href="@{/register}">Registrati</a>
				</li>
					<li>
					<a href="#" th:href="@{/public/listaBuffet}">I nostri buffet</a>
				</li>
				<li>
					<a href="#" th:href="@{/public/piatti}">Piatti offerti</a>
				</li>
				<li>
					<a href="#" th:href="@{/public/listaChef}">Il nostro team</a>
				</li>
				<li>
					<a href="#" th:href="/">Home</a>
				</li>
			</ul>
		</div>
		<p class="title">Benvenuto nel nostro servizio catering!</p>
		  
		<div th:object=${ingrediente}>
			<nav class="rowItems" th:text="*{nome}">qui-va-nome</nav> 
			<nav class="rowItems" th:text="*{origine}">qui-va-origine</nav>
			<nav class="rowItems" th:text="*{descrizione}">qui-va-descrizione</nav>
		</div>
		<div><a th:href="@{'/admin/modificaIngredienteForm' + '/' + ${ingrediente.id}}">Modifica Ingrediente</a></div>
		<div><a th:href="@{'/admin/deleteIngrediente' + '/' + ${ingrediente.id}}">Elimina ingrediente</a></div>
	</div>
</body>
<footer>
	<a href="/">Home</a>
</footer>
</html>
