<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

	<div>
		<div th:object=${ingrediente}>
			<span th:text="*{nome}">qui-va-nome</span> 
			<span th:text="*{origine}">qui-va-origine</span>
			<span th:text="*{descrizione}">qui-va-descrizione</span>
		</div>
		<div><a th:href="@{'/admin/modificaIngredienteForm' + '/' + ${ingrediente.id}}"//>Modifica Ingrediente</a></div>
		<div><a th:href="@{'/admin/deleteIngrediente' + '/' + ${ingrediente.id}}"/>Elimina ingrediente</a></div>
	</div>
</body>
<footer>
	<a href="/">Home</a>
</footer>
</html>
