<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
	xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
	<title>Modifica Piatto</title>
	<link th:href="@{/css/form.css}" rel="stylesheet" href="/static/css/form.css"/>
</head>
<header>
	<h1>Modifica questo piatto</h1>
</header>

<body>
	<div>
		<div> 
			<form method="POST" th:action="@{/admin/modifica/piatto/{id}(id=${piatto.id})}" th:object="${piatto}">

				<table>
					<tbody>
						<tr>
							<td>Nome:</td>
							<td>
								<label>
									<input th:field="*{nome}" type="text" th:value="*{nome}" />
								</label>
							</td>
							<td>
								<span class="error-text" th:errors="*{nome}" th:if="${#fields.hasErrors('nome')}">
									errore nome
								</span>
							</td>
						</tr>
						<tr>
							<td>Descrizione:</td>
							<td>
								<label>
									<input th:field="*{descrizione}" type="text" th:value="*{descrizione}" />
								</label>
							</td>
							<td>
								<span class="error-text" th:errors="*{descrizione}"
									th:if="${#fields.hasErrors('descrizione')}">
									errore descrizione</span>
							</td>
						</tr>
					</tbody>
				</table>


				<div>
					<fieldset>
						<legend>Seleziona Ingredienti</legend>
						<table>
							<tbody>
								<tr th:each="ingrediente: ${ingredienti}">
									<td>
										<input type="checkbox" id="${ingredienti}" th:field="*{ingredienti}"
											nome="ingrediente" th:value="${ingrediente.id}"> 
										<label for="${ingredienti}"></label>
									</td>
									<td>
										<label for="${ingredienti}" th:text="${ingrediente.nome}"> Nome ingrediente
										</label>
									</td>
								</tr>
							</tbody>
						</table>
					</fieldset> 
				</div>
				<div>
					<span><button class="button button1" type="submit">Confirm</button></span>
				</div>
			</form>
		</div>
	</div>
</body>

<footer>
	<div>
		
	</div>
</footer>


</html>