

body {
    font-family: serif;
    color: #876240;
 }
/********************************************Container and items**************************************************/
#container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.imageIndex{
	top:0;
	height: 500px;
	width: 100%;/*1250px; */
	margin-bottom: 0%;
}
nav.rowItems{
	margin-left: 15%;
	margin-bottom: 10%;
	padding-right: 5%;
	width: 800px;
	display: flex;
	background-color: #D9D0C7;
	justify-content: flex-start;
	align-items: center;
	border-radius: 0%;
}
.imageItems{
	width: 350px;
    height: 350px;
	border-radius: 0%;
	margin-left: 50px;
	margin-right: 100px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.imageItemsLink{
	width: 350px;
    height: 350px;
	border-radius: 0%;
	margin-left: 50px;
	margin-right: 100px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.imageItemsLink:hover{
	box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
	opacity: 0.5;
}
p.title{
	font-family: 'Brush Script MT', cursive;
	color: #A68572;
	font-size: 50px;
	text-align: center;
}
.responsive {
	padding: 0 6px;
	float: left;
	width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px){
	.responsive {
	  width: 49.99999%;
	  margin: 6px 0;
	}
  }
  
  @media only screen and (max-width: 500px){
	.responsive {
	  width: 100%;
	}
  }